/*
 < *<Copyright 2013 Alvaro Almagro Doello>>
 
 This file is part of CleverFigures.
 
 CleverFigures is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 CleverFigures is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with CleverFigures.  If not, see <http://www.gnu.org/licenses/>.
 */

/* GENERAL SETTINGS */

body
{
	/* font-family: 'Donegal One', serif; */
	z-index:1;
	height:100%;
	font-family: 'Cinzel', serif;
}

h3
{
	text-align:center;
}
p
{
	font-family:"Trebuchet MS";
	font-size:16px;
}

img{
	display:block;
	margin:0 20px 0 auto;
	width:350px;
	height:350px;
	border-right:1px solid rgba(0,0,0,0.2);
}

a:link {
	color:#0088ff;
	font-weight:bold;
	text-decoration:none;
}
a:visited {
	color:#0088ff;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#1e00ff;
	font-weight:bold;
	text-decoration:none;
}
a:active {
	color:#1e00ff;
	text-decoration:none;
}

em{
	color:white;
	font-size:0.8em;
	position:absolute;
	right:5px;
	bottom:5px;
	font-weight:bold;
	border:1px solid red;
	border-radius:5px;
	padding:20px;
	background:red;
}

info{
	color:white;
	font-size:0.8em;
	position:absolute;
	right:5px;
	bottom:5px;
	border:1px solid green;
	border-radius:5px;
	padding:20px;
	background:green;
}

#overlay{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:1000;
	background-color:rgba(0,0,0,0.95);
	text-align:center;
	color:white;
	vertical-align: middle; 
}

#maintable{
	margin:auto;
}

#wrap{
	padding-top:65px;
	margin-bottom:35px;
	height:100%;
	z-index:0;
}

#bodytable
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	min-width:800px;
	margin-left: auto;
	margin-right: auto;
	table-layout:fixed;
}

#bodytable th 
{
	font-size:14px;
	padding-top:5px;
	padding-bottom:4px;
	color: white;
	background-color:rgba(0,0,0,0.8);
}

#bodytable th.low
{
	font-size:14px;
	padding-top:5px;
	padding-bottom:4px;
	color: white;
	background-color:rgba(0,0,0,0.8);
}

#bodytable td 
{
	color:#000000;
	font-size:12px;
	min-height:29px;
	padding:2px;
	padding-left:8px;
	background-color:rgba(204,228,230,0.8);
	vertical-align:center;
}

#bodytable input.cssform{
	width:87%;
}

#variabletable
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
	top:0px;
	margin-left: auto;
	margin-right: auto;
	table-layout:fixed;
}


#variabletable th 
{
	font-size:14px;
	padding-top:5px;
	padding-bottom:4px;
	color: white;
	background-color:rgba(0,0,0,0.8);
}

#variabletable th.low
{
	font-size:14px;
	padding-top:5px;
	padding-bottom:4px;
	color: white;
	background-color:rgba(0,0,0,0.8);
}

#variabletable td 
{
	color:#000000;
	font-size:12px;
	min-height:29px;
	padding:2px;
	padding-left:8px;
	background-color:rgba(204,228,230,0.8);
	vertical-align:center;
}

#variabletable td.type
{
	color:white;
	font-size:12px;
	text-align:right;
	padding:2px;
	padding-right:8px;
	background-color:rgba(88, 172, 250, 0.8);
	vertical-align:center;
}

#variabletable input.cssform{
	width:87%;
}

#charttable
{
	margin-left: auto;
	table-layout: fixed;
	margin-right: auto;
	padding:2px;
	width:100%;
}

#charttable th 
{
	width:100%;
	background-color:rgba(0,0,0,0.8);
	color:white;
}


/* INSTALLATION AND LOGIN FORMS */

#formins {
	table-layout: fixed;
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: auto;
	font-size:1em;
}

#formins td, #formins th 
{
	padding:3px 7px 2px 7px;
}


/* HEADER MENU */

#menu
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	min-width:800px;
	height:25px;
	table-layout: fixed;
	text-align:center;
	background: rgba(0, 0, 0, 0.8); 
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
}

#menu a:link {
	color:white;
	text-decoration:none;
}
#menu a:visited {
	color:white;
	text-decoration:none;
	font-size:1.1em;
}
#menu a:hover {
	color:white;
	text-decoration:none;
	font-size:1.1em;
}
#menu a:active {
	color:white;
	text-decoration:none;
}

#menu td, #menu th 
{/*
padding:2px 2px 2px 2px;*/
}

#menu th.user 
{
	text-shadow: 0.1em 0.1em 0.05em #333;
	padding-left:10px;
	text-align:left;
	font-family: 'Playball', cursive;
	font-size:20px;
	color:white;
	background-image: -ms-radial-gradient(left center, ellipse farthest-side, rgba(88, 172, 250, 0.8) 50%, rgba(0, 0, 0, 0) 90%);
	background-image: -moz-radial-gradient(left center, ellipse farthest-side, rgba(88, 172, 250, 0.8) 50%, rgba(0, 0, 0, 0) 90%);
	background-image: -o-radial-gradient(left center, ellipse farthest-side, rgba(88, 172, 250, 0.8) 50%, rgba(0, 0, 0, 0) 90%);
	background-image: -webkit-gradient(radial, left center, 0, left center, 954, color-stop(0, rgba(88, 172, 250, 0.8)), color-stop(1, rgba(0, 0, 0, 0)));
	background-image: -webkit-radial-gradient(left center, ellipse farthest-side, rgba(88, 172, 250, 0.8) 50%, rgba(0, 0, 0, 0) 90%);
	background-image: radial-gradient(ellipse farthest-side at left center, rgba(88, 172, 250, 0.8) 50%, rgba(0, 0, 0, 0) 90%);
}

/* FOOTER  */

#footer
{
	height:40px;
	width:300px;
	text-align:center;
	position:absolute;
	bottom:0px;
	left:0px;
	background: rgba(88, 172, 250, 0.9);
	z-index:10;               
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	margin-left: -270px; 
	z-index:10; 
	border-radius:0px 15px 0px 0px;
}

#footer:hover{
	
	margin-left: 0px;
}

#footer td, #footer th 
{
	font-size:12px;
	padding:2px 2px 2px 2px;
}

#footer a:link {
	color:white;
	text-decoration:none;
}

#footer a:visited {
	color:white;
	text-decoration:none;
}

#footer a:hover {
	color:white;
	text-decoration:none;
}

#footer a:active {
	color:white;
	text-decoration:none;
}