/*
<<Copyright 2013 Alvaro Almagro Doello>>

This file is part of CleverFigures.

CleverFigures is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CleverFigures is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CleverFigures.  If not, see <http://www.gnu.org/licenses/>.
*/

/* GENERAL SETTINGS */

html{
}

body
{
font-family: 'Donegal One', serif;
z-index:1;
height:100%;
}

h1
{
text-align:center;
font-family: 'Cinzel', serif;
font-size:50px;
position:fixed;
left:0px;
bottom:0px;
z-index:-1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
filter: alpha(opacity=25);
-moz-opacity:0.25;
-khtml-opacity: 0.25;
opacity: 0.25;
}
p
{
font-family:"Trebuchet MS";
font-size:16px;
}

img{
  display:block;
  margin:0 auto 0 auto;
}

a:link {
  color:#A7C942;
  font-weight:bold;
  text-decoration:none;
}
a:visited {
  color:white;
  font-weight:bold;
  text-decoration:none;
}
a:hover {
  color:green;
  font-weight:bold;
  text-decoration:none;
}
a:active {
  color:white;
  text-decoration:none;
}

em{
	color:red;
	font-size:0.8em;
}

#wrap{
	padding-top:65px;
	margin-bottom:35px;
	height:100%;
	z-index:0;
}

#bodytable
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
min-width:800px;
margin-left: auto;
margin-right: auto;
border:1px solid #A7C942;
padding:2px;
}

#bodytable td, #bodytable th 
{
font-size:1em;
}

#bodytable th 
{
font-size:1em;
padding-top:5px;
padding-bottom:4px;
color: rgba(0, 0, 0, 0.8);
border:1px solid #98bf21;
background:url(../images/backgrounds/378.gif);
font-family: 'Cinzel', serif;
}

#bodytable td 
{
color:#000000;
text-align:center;
min-height:29px;
font-family: 'Donegal One', serif;
}

#bodytable input.cssform{
	width:60%;
}

#usertable
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
min-width:800px;
max-width:90%;
margin-left: auto;
margin-right: auto;
border:1px solid #A7C942;
padding:2px;
}

#usertable td, #usertable th 
{
font-size:1em;
}

#usertable th 
{
font-size:1em;
padding-top:5px;
padding-bottom:4px;
border:1px solid #98bf21;
background-color:#A7C942;
color:#ffffff;
}

#pagetable
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
min-width:800px;
max-width:90%;
margin-left: auto;
margin-right: auto;
border:1px solid #A7C942;
padding:2px;
}

#pagetable td, #pagetable th 
{
font-size:1em;
}

#pagetable th 
{
font-size:1em;
padding-top:5px;
padding-bottom:4px;
border:1px solid #98bf21;
background-color:#A7C942;
color:#ffffff;
}

/* INSTALLATION AND LOGIN FORMS */

#formins {
	table-layout: fixed;
	text-align:left;
	font-size:1.2em;
	border:1px solid #A7C942;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: auto;
	border-radius: 10px;
	min-width:500px;
}

#formins tr{
border: 1px solid #ffffff;
}

#formins td, #formins th 
{
font-size:1em;
height:50px;
padding:3px 7px 2px 7px;
border-radius: 10px;
}

#formins th 
{
font-size:1em;
text-align:center;
padding-top:5px;
padding-bottom:4px;
color:#ffffff;
text-transform: uppercase;
text-shadow: 0.1em 0.1em 0.2em black;
background-color:#A7C942;
}

#formins td 
{
font-size:1em;
}

#formins select{
	font-size:1.2em;
	padding-left:5px;
	text-align:left;
	width:100%;
}

#formins input{
	font-size:1.2em;
	padding-left:5px;
	text-align:left;
}

#formins input.next{
	font-size:1.2em;
	padding-left:5px;
	text-align:left;
	font-weight:bold;
	border:1px solid #EAF2D3;
	color:#ffffff;
	background-color:#A7C942;
	text-transform: uppercase;
	text-shadow: 0.1em 0.1em 0.2em black;
}

#formins input.next:hover{
	font-size:1.3em;
	padding-left:5px;
	text-align:left;
	font-weight:bold;
	border:1px solid #EAF2D3;
	color:#ffffff;
	background-color:#A7C942;
	text-transform: uppercase;
	text-shadow: 0.1em 0.1em 0.2em black;
	cursor:pointer;
}

/* HEADER MENU */

#menu
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
height:30px;
table-layout: fixed;
border-collapse:collapse;
text-align:center;
background: rgba(0, 0, 0, 0.8); 
position:fixed;
top:0px;
left:0px;
z-index:100;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}

#menu a:link {
	color:white;
	text-decoration:none;
}
#menu a:visited {
}
#menu a:hover {
	color:white;
	text-decoration:none;
	font-size:1.1em;
}
#menu a:active {
	color:white;
	text-decoration:none;
}

#menu td, #menu th 
{
border:0px solid black;
padding:3px 7px 2px 7px;
}

#menu th 
{
text-align:center;
padding-top:5px;
padding-bottom:4px;
color:#000000;
}

#menu th.user 
{
text-align:center;
font-family: 'Playball', cursive;
font-size:28px;
color:white;
}

/* FOOTER  */

#footer
{
width:300px;
height:35px;
text-align:center;
table-layout: fixed;
margin-top:50px;
margin-left:auto;
margin-right:auto;
text-shadow: 0.1em 0.1em 0.2em black;
font-family: 'Cinzel', serif;
}

#footer td, #footer th 
{
font-size:1em;
padding:3px 7px 2px 7px;
}

#footer th 
{
font-size:1em;
padding-top:5px;
padding-bottom:4px;
background:url(../images/backgrounds/378.gif);
color:#ffffff;
}

#footer td 
{
color:#000000;
background-color:#EAF2D3;
}

#footer a:link {
  color:white;
  text-decoration:none;
}
#footer a:visited {
  color:white;
  text-decoration:none;
}
#footer a:hover {
  color:white;
  text-decoration:none;
}
#footer a:active {
  color:white;
  text-decoration:none;
}
