/*
 < *<Copyright 2013 Alvaro Almagro Doello>>
 
 This file is part of CleverFigures.
 
 CleverFigures is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 
 CleverFigures is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with CleverFigures.  If not, see <http://www.gnu.org/licenses/>.
 */

/* GENERAL SETTINGS */

body
{
	z-index:1;
	height:100%;
}

h3
{
	text-align:center;
}
p
{
	font-family:"Trebuchet MS";
	font-size:16px;
}

img{
	display:block;
	margin:0 20px 0 auto;
	width:350px;
	height:350px;
	border-right:1px solid rgba(0,0,0,0.2);
}

a:link {
	color:#0088ff;
	font-weight:bold;
	text-decoration:none;
}
a:visited {
	color:#0088ff;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#1e00ff;
	font-weight:bold;
	text-decoration:none;
}
a:active {
	color:#1e00ff;
	text-decoration:none;
}

#message_box { position:fixed; bottom:0px; width:100%; height:50px }
#message_box.error { text-align:center; color:red; font-weight:bold; border-top:1px solid red; }
#message_box.info { color:green; border-top:1px solid green; }

#overlay{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:1000;
	background-color:rgba(0,0,0,0.95);
	text-align:center;
	color:white;
	vertical-align: middle; 
}

#maintable{
	margin:auto;
}

#wrap{
	padding-top:65px;
	margin-bottom:35px;
	height:100%;
	z-index:0;
}

#variabletable
{
  font-family: 'Titillium Web', sans-serif;
	width:100%;
	height:100%;
	top:0px;
	margin-left: auto;
	margin-right: auto;
	table-layout:fixed;
}


#variabletable th
{
	padding-top:5px;
	padding-bottom:4px;
	color: white;
	background-color:rgba(0,0,0,0.8);
	font-size:20px;
}

#variabletable th.low
{
	font-size:16px;
	padding-top:5px;
	padding-bottom:4px;
	color: white;
	background-color:rgba(0,0,0,0.8);
}

#variabletable td
{
	color:#000000;
	font-size:16px;
	min-height:29px;
	padding:2px;
	padding-left:8px;
	background-color:rgba(204,228,230,0.8);
	vertical-align:center;
}

#variabletable td.type
{
	color:white;
	font-size:12px;
	text-align:right;
	padding:2px;
	padding-right:8px;
	background-color:rgba(88, 172, 250, 0.8);
	vertical-align:center;
}

#variabletable input.cssform{
	width:87%;
}

#charttable
{
	margin-left: auto;
	table-layout: fixed;
	margin-right: auto;
  font-family: 'Titillium Web', sans-serif;
	padding:2px;
	width:100%;
}

#charttable th 
{
	width:100%;
	background-color:rgba(0,0,0,0.8);
	color:white;
}


/* INSTALLATION AND LOGIN FORMS */

#formins {
	table-layout: fixed;
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: auto;
	font-size:1em;
}

#formins td, #formins th 
{
	padding:3px 7px 2px 7px;
}


/* HEADER MENU */

#horizontal-line { width:100%; height:30px; border-bottom: 1px solid rgba(0, 0, 0, 0.6) }

#menu-left
{
	width: 70%;
	padding-left:10px;
	height: 30px;
	text-align: left;
	top: 0px;
	left: 0px;
	z-index: 100;
	float:left;
  background-color: rgba(0, 0, 0, 0.8);
}

#menu-right
{
	width: 30%;
	height: 30px;
	padding-right:10px;
	text-align: right;
	top: 0px;
	right: 0px;
	z-index: 100;
	float:right;
  background-color: rgba(0, 0, 0, 0.8);
}

html.yui3-js-enabled body table#menu-left.menufonts tbody tr th a:hover { font-size: 18px; font-family: 'Titillium Web', sans-serif; color:white; text-decoration:none }
html.yui3-js-enabled body table#menu-left.menufonts tbody tr th a { font-size: 18px; font-family: 'Titillium Web', sans-serif; color:rgba(204, 228, 230, 0.8); text-decoration:none }
html.yui3-js-enabled body table#menu-right.menufonts tbody tr th a:hover { font-size: 18px; font-family: 'Titillium Web', sans-serif; color:white; text-decoration:none }
html.yui3-js-enabled body table#menu-right.menufonts tbody tr th a { font-size: 18px; font-family: 'Titillium Web', sans-serif; color:rgba(204, 228, 230, 0.8); text-decoration:none }

/* FOOTER  */

#footer
{
	width:100%;
  font-size:18px;
  font-family: 'Titillium Web', sans-serif;
	text-align:left;
	position:absolute;
	bottom:0px;
	left:0px;
	background: rgba(204, 228, 230, 0.8);
	z-index:10;
}

#footer a:link {
	color:black;
	text-decoration:none;
}

#footer a:visited {
	color:black;
	text-decoration:none;
}

#footer a:hover {
	color:black;
	text-decoration:underline;
}

#footer a:active {
	color:black;
	text-decoration:none;
}
